#wrapper {
  padding-left: 199px;
}

#sidebar-wrapper {
  margin-left: -198px;
  left: 198px;
  width: 198px;
  background: #222;
  position: fixed;
  height: 100%;
  z-index: 1000;
    overflow: hidden;
    /*background: url('../img/mesh.png');*/
    background-position: 0 -30px;


}

span#switch-left-bar {
    color: #fff;
    z-index: 9999999999;
    cursor: pointer;
    width: 30px;
    padding: 0;
    float: right;
    position: relative;
    display: block;
    padding-left: 10px;
    padding-top: 13px;
}

span#switch-left-bar-back {
    color: #fff;
    z-index: 9999999999;
    cursor: pointer;
    width: 30px;
    padding: 0;
    float: left;
    position: relative;
    padding-left: 18px;
    padding-top: 13px;
    display: none;
}


.badge-mini{
    position: absolute;
    line-height: 11px;
    height: 14px;
    padding: 1px 3px;
    color: black;
    text-shadow: 0 1px rgba(0, 0, 0, 0.25);
    border: 1px solid;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.08);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), 0 1px 1px rgba(0, 0, 0, 0.08);
    left: 8px;
    text-indent: initial;
    font-size: 9px;
    background-color: #67c1ef;
    border-color: #30aae9;
    margin-top: -11px;
    display: none;
}

